//- doctype html
//- html
//-   head
//-     meta(charset='utf-8')
//-     title Weather Zip
//-     link(rel='stylesheet', href='/css/style.css')
//-   body
//-     h1= zip
//-     a#homeButton(href='/') Home Page
//-     h2.tempNum= temperature
//- 
//-     #contain
//-       #mercury(style='background-color:#{color}; height:#{temperature}%;')
//-       #line95
//-       #line85
//-       #line75
//-       #line65
//-       #line55
//-       #line45
//-       #line35
//-       #line25
//-       #line15
//-         
        
    
